.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-gap: 1em; */
  }
  
  .article img {
    margin-top: 34em;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    font-size: 1px;
    /* border: 9px solid var(--buttonBack);
    border-radius: 13em; */
    opacity: 0.9;
  
  }
  
  .article p {
    font-family: 'JakobCTT', arial;
    /* display: block; */
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: #ebe3df;
    border: 4px solid #2894cb;
    /* clip-path: polygon(0 41%, 100% -10%, 100% 80%, 2% 100%); */
    -webkit-clip-path: polygon(50% 0%,59.40% 9.22%,73% 6%,77.32% 20.01%,91% 22%,87.16% 37.00%,100% 44%,90.42% 55.39%,97% 68%,88.34% 75.98%,83% 87%,67.66% 86.18%,62% 99%,48.60% 91.58%,38% 99%,29.82% 88.17%,17% 87%,17.68% 74.58%,3% 68%,10.14% 55.79%,0% 44%,14.24% 37.20%,9% 22%,26.32% 19.02%,27% 6%,42.14% 9.82%);
clip-path: polygon(50% 0%,59.40% 9.22%,73% 6%,77.32% 20.01%,91% 22%,87.16% 37.00%,100% 44%,90.42% 55.39%,97% 68%,88.34% 75.98%,83% 87%,67.66% 86.18%,62% 99%,48.60% 91.58%,38% 99%,29.82% 88.17%,17% 87%,17.68% 74.58%,3% 68%,10.14% 55.79%,0% 44%,14.24% 37.20%,9% 22%,26.32% 19.02%,27% 6%,42.14% 9.82%);
    background-color: #5e7b58;
    /* border-radius: 0.5em; */
    text-shadow: var(--textShadow);
    /* box-shadow: var(--boxShadow); */
    padding-top: 1rem;
    margin-top: 12em;
    margin-bottom: 0.5em;
  }
  
  .navLink {
    position: absolute;
    z-index: 3;
    padding:  1.4em 0.6em;
    margin-right: 1em;
    box-sizing: border-box;
    top: 1%;
    left: 51%;
    border: 1px solid #eeeeee;
    ;
    border-radius: 1em;
    text-decoration: none;
    font-weight: bold;
    color: var(--buttonColor);
    background-color: #d8afaf;
    /* opacity: 0.7; */
    box-shadow: var(--buttonShadow);
    clip-path: polygon(0% 15%, 15% 12%, 29% 0, 77% 1%, 88% 10%, 100% 24%, 100% 74%, 89% 85%, 85% 100%, 45% 100%, 4% 82%, 0 47%);
  }
  .navLink22 {
    position: absolute;
    /* clip-path: var(--foundation); */
    padding: 0.1em 2em 3em 2em;
    /* margin-right: 1em; */
    box-sizing: border-box;
    top: 79%;
    left: 4%;
    line-height: 3.5em;
    border: 6px solid #84d586;
    border-radius: 9em;
    text-decoration: none;
    font-weight: bold;
    color: var(--buttonColor);
    background-color: var(--buttonBack);
    -webkit-clip-path:var(--clipPath);
    clip-path: var(--clipPath);
  
    height: 4em;
    /* box-shadow: -8px 15px 43px 20px rgba(34, 60, 80, 0.3) inset; */
    box-shadow: var(--buttonShadow);
   
  }

  .navLink20 {
    position: absolute;
    /* clip-path: var(--foundation); */
    padding: 0.1em 2em 3em 2em;
    /* margin-right: 1em; */
    box-sizing: border-box;
    top: 79%;
    left: 57%;
    line-height: 3.5em;
    border: 6px solid #84d586;
    border-radius: 9em;
    text-decoration: none;
    font-weight: bold;
    color: var(--buttonColor);
    background-color: var(--buttonBack);
    -webkit-clip-path:var(--clipPath);
    clip-path: var(--clipPath);
  
    height: 4em;
    /* box-shadow: -8px 15px 43px 20px rgba(34, 60, 80, 0.3) inset; */
    box-shadow: var(--buttonShadow);
   
  }
  
    .navLink23 {
      position: absolute;
      clip-path: polygon(48% 18%, 79% 0, 99% 32%, 86% 73%, 62% 84%, 47% 100%, 32% 84%, 10% 69%, 0 26%, 23% 3%);
      /* clip-path: polygon(12.85% 4.79%, 32.19% 0.00%, 50.14% 23.20%, 71.18% 2.38%, 92.94% 5.61%, 100% 20%, 89.64% 72.82%, 65.71% 90.43%, 55.04% 100%, 41.43% 87.43%, 20.03% 65.05%, 0.00% 40.09%); */
      padding: 1.5em 1.5em;
      top: 77%;
      left: 28%;
      line-height: 3.5em;
      border: 6px outset #f5efed8a;
      border-radius: 5em;
      text-decoration: none;
      font-weight: bold;
      color: #eb8905;
      background-color: #c91300c4;
      /* background-color: var(--buttonBack); */
      /* -webkit-clip-path:var(--clipPath); */
      /* clip-path: var(--clipPath); */
      /* clip-path:polygon(46% -17%, 12% 33%, 88% 25%, 95% 50%, 66% 52%, 28% 89%, 119% 88%, 77% 53%, 20% 39%, -13% 81%, 37% 78%); */
      /* height: 4em; */
      /* box-shadow: -8px 15px 43px 20px rgba(34, 60, 80, 0.3) inset; */
      box-shadow: var(--buttonShadow);
     
    }
     .nameAudio {
      font-family: 'JakobCTT', arial;
      font-size: 1.5rem;
        color: #160f0b;
        background-color: #f1f1eb;
        padding: 1px;
        margin: 5px;
        border-radius: 5px;
      }

  audio::-webkit-media-controls-panel {background-color: hsla(136, 17%, 87%, 0.384);}
  audio::-webkit-media-controls-play-button {background-color: rgb(211, 171, 142);}
  audio::-webkit-media-controls-volume-slider {background-color: #ccc;}


  @keyframes ticker {
    0% { transform: translateX(10); }
    100% { transform: translateX(-100%); }
  }
        
  .ticker {
    background: #6c637c45;
    color: #d62020;
    font-family: system-ui;
    font-size: 24px;
    max-width: 40em;
    overflow: hidden;
  }
        
  .ticker__in {
    display: flex;
    width: fit-content;
    animation: ticker 10s linear infinite;
    -webkit-transform-style: preserve-3d; /* Фикс возможного глюка с морганием в Сафари */
  }
        
  .ticker__item {
    font-weight: bold;
    color: #fcb903;
    -webkit-text-stroke: 1px #f30e0e; 
    width: 10em;
    padding-left: 13em;
    white-space: nowrap;
    -webkit-backface-visibility: hidden; /* Фикс возможного глюка с морганием в Сафари */
  }

  .videoBlock {
    position: relative;
    width: 100%;
    /* height: 255px; */
  }
  
  #videoFrame {
    position: relative;
  
    width: 100% !important;
    height: 22vh !important;
    border-width: 0;
    outline-width: 0;
  }