@font-face {
  
  font-family: 'JakobCTT';
	src:  url('./fonts/Peter_Ivanovitsch.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --boxShadow: 8px -8px 18px 8px rgba(167, 171, 173, 0.43);
  --buttonShadow: -8px 15px 43px 20px rgba(87 88 72 / 61%) inset;
  --buttonBack: #d69842c9;
  --buttonColor: #e2e3e4;
  --colorText: rgb(231, 226, 220);
  --textShadow: -1px -1.6px 0px whitesmoke inset;
  --colorBackgroundAll: #a0d7d7bd;
  --colorNameSongs: #4884c7;
  --headerSing: #cc910f75;
  
  --clipPath: polygon(12.85% 4.79%,28.41% 0.00%,55.32% 21.94%,78.46% 0.00%,92.94% 5.61%,100% 20%,89.64% 72.82%,65.71% 90.43%,55.04% 100%,41.43% 87.43%,20.17% 70.23%,0.42% 18.80%);;
}
